office* 
*.gcno
reference/
window
*.o
PRSice_*
bin/
build/
\.project
debug/
\.DS_Store
TOY_*
*.swp
src/bk/
*.zip
\.settings/
\.cproject
PRSice\.*
*.gz
site/
test/data/bk/*
test/data/*
zlib*
*.user*

build_test/

coverage/
