
*.o

bin/

build/

\.project

debug/

\.DS_Store

PRSice_linux

PRSice_linux\.bugfix\.20171109\.zip

PRSice_mac

PRSice_mac\.bugfix\.20171109\.zip

TOY_BASE_GWAS\.assoc

TOY_TARGET_DATA\.bed

TOY_TARGET_DATA\.bim

TOY_TARGET_DATA\.fam

TOY_TARGET_QUANTITATIVE\.pheno

*.swp

src/bk/
