office* 
*.gcno
reference/
window
*.o
bin/
build/
\.project
debug/
\.DS_Store
TOY_*
Release/*
*.best
*log*
*.prsice
*.summary
*.swp
src/bk/
*.zip
\.settings/
\.cproject
*.gz
site/
test/data/*
zlib*
*.user*
build_test/
coverage/
build_quick/
mac_build/
